/* колір WEB, Focused, Active states Links; background кнопки #4D5AE5  */
:root { --brand-color: #4D5AE5;
    --background: #2E2F42; 
    --zagolovok: #2E2F42;
    --hover-color: #404BBF;
        /* колір тексту    */
    --text: #434455;
    --studio: #F4F4FD;
        /*  текст підвал                  #E7E9FC  */ 
    --accent: #E7E9FC;

    --margin-left: 24px;
    --margim-top-botton-h3p: 32px;
    --margin-top-p: 8px;
}


body {   background-color: #FFFFFF; color: var(--text);   
    font-family: 'Roboto', sans-serif; font-style: normal; letter-spacing: 0.02em;}
.list { list-style: none;
}
h1, h2, h3, h4, p, ul, li { margin: 0px; 
    padding: 0;
}

/* кнопки, зсилки */
.logo-footer, .logo {text-decoration-line:none}
.link {text-decoration-line:none; font-family: inherit;
    display: block;
    transition-property:  color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.link:hover, .link:focus {color: var(--brand-color);  background-color: #FFFFFF}


/*  __________________________Глобальні змінні_______________________________ */
.container {    width: 1158px; 
    margin-left:  auto; 
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.section { padding-top: 120px;
padding-bottom: 120px;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* Хедер */

.logo-web {color: var(--brand-color);}
.logo  {color: var(--zagolovok);
    font-family: 'Raleway', sans-serif; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;

}

.nav-div{ margin-left: 77px;}
.nav-link {
    display: inline-block;
    position: relative;
    color: var(--zagolovok); 
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    padding-top: 24px;
    padding-bottom: 24px;
}
.nav-link.navigation-active {
    color: var(--hover-color);
}
.nav-link.navigation-active::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: var(--hover-color);
    border-radius: 2px;
} 

.auth-div{ margin-left: auto;}
.auth-nav {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    display: flex;
    
}
.auth-nav  > li + li  {margin-left: 40px;
}

.auth-list { color: var(--text);
    padding-top: 24px;
    padding-bottom: 24px;
}
.auth-list.link:focus, .auth-list.link:hover{
    color: var(--hover-color);
}
.navigation { display: flex;
}

.navigation > li:not(:first-child) { margin-left: 40px;
}

.nav-heder { display: flex; 
    align-items: center;
} 
header {box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}


/* section-hero */

.section-hero {
    margin-left: auto;
    margin-right: auto;

    max-width: 1440px;
    background-image: linear-gradient( to right, rgba(46,47,66,0.7), rgba(46,47,66,0.7)), url(../images/people-office-1.jpg);
    background-repeat: no-repeat;

    background-position: center;
    background-size: cover; 
}
    
.hero-title {color: #FFFFFF;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    width: 492px;    
    margin-left: auto;
    margin-right: auto;
    
}
.sec-hero-button {background-color: var(--brand-color); color: #FFFFFF; cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;

    padding: 16px 32px;
    margin-top: 48px;
    
    border-color: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: box-shadow, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sec-hero-button:hover { box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
    background-color: var(--hover-color);
    
}
.sec-hero-button:focus { background: var(--hover-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border-color: transparent;
}

.cont-hero{padding: 192px;
    
    text-align: center;
} 

/* section-workmeth */

.visually-hidden {position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}    
.section-title {color: var(--zagolovok);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;

    
}
.section-title-h3 {color:  var(--zagolovok);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
  
}
.text {font-size: 16px;
    line-height: 1.5;

    margin-top: var(--margin-top-p);
}
.sec-workmeth-ul { display: flex;
    flex-basis: calc((100%-3*var(--margine-left))/4);
}
.sec-workmeth-ul li {
    flex-basis: inherit;
}

.sec-workmeth-ul > li:not(:first-child) { margin-left: var(--margin-left)}


.sec-workmeth-ul > li::before {
    content: ''; 
    display: block;

    margin-bottom: 8px;
    height: 112px;
    border-radius: 4px;
    background: var(--studio);
    
    background-size: 70px 70px;
    background-position: center;
    background-repeat: no-repeat;
}
.sec-workmeth-ul > li.icon-antena::before {
    background-image: url(../images/antena.svg);
}
.sec-workmeth-ul > li.icon-clock::before {
    background-image: url(../images/clock.svg);
}
.sec-workmeth-ul > li.icon-diagram::before {
    background-image: url(../images/diagram.svg);
}
.sec-workmeth-ul > li.icon-astronaut::before {
    background-image: url(../images/astronaut.svg);
}


.section-workmeth.section {padding-bottom: 0px;}

/* section-doing */
.doing-list{ display: flex;}
.doing-list > li {margin-left: var(--margin-left);}
.doing-list > li:first-child { margin-left: 0px;}
.doing-list img {
    border: 1px solid #E7E9FC;
    background: linear-gradient(0deg, rgba(77, 90, 229, 0.1), rgba(77, 90, 229, 0.1)) ;
}
.text-center { text-align: center;
}
.section-title{margin-bottom: 72px;    }

/* section-ourteam */
.section-ourteam {background: var(--studio);
}

.sec-ourteam {background-color: #FFFFFF; 
    width: 264px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.sec-ourteam-li {display: flex;
    text-align: center;}
.sec-ourteam-li > li { margin-left: var(--margin-left);}
.sec-ourteam-li > li:first-child {margin-left: 0px;}

.ourteam-item { padding: 32px 12px;
}

.social-list {
    display: flex;
    gap: var(--margin-left);
    margin-top: 12px;
    list-style: none;
    justify-content: center;
}    
.social-link {
    width: 40px;
    height: 40px;
    
    margin-right: auto;
    margin-left: auto;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    background-color: var(--brand-color);
    color: var(--studio);

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.social-link:hover, .social-link:focus  {
    background-color: var(--hover-color);
}

.social-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

/* section-customers */


.customer-list {
    display: flex;
    gap: var(--margin-left);
    list-style: none;
}


.customer-link { 
    display: block;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    width: 168px;
    height: 88px;   
    background-color: #FFFFFF;
    color: #8E8F99;
    padding: 16px 32px;

    transition-property: border-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-link:hover,  .customer-link:focus {
    color: var(--hover-color);
    border-color: 1px solid var(--hover-color);
    
}

.customer-icon  { 
    display: block;
    width: 100%;
    height: 100%;
      
    object-fit: fill;
    fill: currentColor;
}



/* footer*/
footer {
    background-color: var(--background);}
.footer-text{color: var(--accent);
    font-size: 16px;
    line-height: 1.5;

    width: 264px; 
    margin-top: 16px;   }
.logo-footer{color: var(--studio); 
    font-family: 'Raleway', sans-serif; 
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}
.cont-footer { padding: 100px 0px;}

.soc-link-text{
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
}
.footer-social-item {
    margin-left: 120px;
    
}
.social-list.footer {
    margin-top: 16px;
    gap: 16px;
}
.footer-div { display: flex;
align-items: baseline;}

.social-link.footer {
    background-color: rgba(255, 255, 255, 0.1);
    
}
.social-link.footer:hover, .social-link.footer:focus {
    background-color: #31D0AA;
    color: var(--studio);
}
.social-icon.footer {height: 24px;
    width: 24px;
}

.footer-subscribe-div {
    margin-left: 80px;
    
}

.footer-label {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #FFFFFF;
    display: block;
    margin-bottom: 16px;
}
.footer-button-div {
    /* outline: dotted #31D0AA; */
    display: flex;
    gap: 24px;
    
}
.footer-svg {
    width: 24px;
    height: 20px;
    margin-left: 16px;
    
}
.footer-svg > use {
    width: 100%;
    height: 100%;
    fill: currentColor;
    
}
.footer-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: inherit;
    height: 40px;
    min-width: 264px;
    padding: 8px 16px;
    color: #FFFFFF;
}
.footer-input::placeholder {
    font-size: 12px;
    line-height: 2;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0.04em;
}
.sec-hero-button.footer-button {
    display: flex;
    align-items: center;

    padding: 8px 24px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;

    color: #FFFFFF;
    margin: 0px;
    height: 40px;
}



/* ___________________________________portfolio main____________________________*/
.portfolio-section {
    padding-top: 96px;
    padding-bottom: 120px;
}

.filtr {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;

    display: flex;
    justify-content: center;
    gap: 24px;
}

.filtr-button {background-color: var(--studio); color: var(--brand-color); 
    border: 1px solid #E7E9FC; border-radius: 4px;
    text-decoration-line:none;
    
    cursor: pointer;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    
    padding: 12px 24px;

    transition-property: background-color, color, box-shadow, border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filtr-button:hover { background-color: #4D5AE5; color: #FFFFFF;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
    border-color: transparent;
}
.filtr-button:focus {background-color: #4D5AE5; color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-color: transparent;
}
.filtr-button.active {background-color: #4D5AE5; color: #FFFFFF;}


/* progect-card */

.portfolio-progect-card {box-sizing: border-box;     
}


.portf-link {text-decoration-line:none;
    display: block;
    color: var(--text);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portf-link:hover,  .portf-link:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding: 40px 32px;
    margin-top: 0;

    color: var(--studio); 

    background-color: var(--brand-color);
    background-blend-mode: soft-light;
    mix-blend-mode: normal;
        
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-img {max-width: 100%;
display: block;}

.portf-tumba {
    position: relative; 
    overflow: hidden;
}
.portfolio-progect-card:hover .portfolio-text  {
    transform: translateX(0);   
}
.portfolio-progect-card:focus .portfolio-text {
    transform: translateX(0);   
}

.portfolio-works {
    display: flex;
    flex-wrap: wrap;
    margin-top: 72px;   
    
    column-gap: var(--margin-left);
    row-gap: calc(2 * var(--margin-left));
}

.portfolio-works li { flex-basis: calc((100% - 2*var(--margin-left))/3);}


.portf-item {padding-top: var(--margim-top-botton-h3p);
    padding-bottom: var(--margim-top-botton-h3p);
    padding-left: 16px;
    border: 0.5px solid #F4F4FD;
    border-top: none;
}


/* Modal window */
.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    
    background: rgba(46, 47, 66, 0.4);
    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1); 
    
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: inherit;

       
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    width: 408px;
    height: 576px;
    padding: 24px;
    padding-top: 72px;

    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.close-button { 
    position: absolute;
    right: 24px;
    top: 24px;

    width: 24px;
    height: 24px;
    padding: 0;

    border-radius: 50%;
    color: #000;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
       
    cursor: pointer;

    transition-property: background-color, color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.close-button:hover, .close-button:focus {
    color: #FFFFFF;
    background-color: var(--hover-color);
}
.close-svg {
    position: absolute;
    left: 33.33%;
    right: 33.33%;
    top: 33.33%;
    bottom: 33.33%;
    
    width: 8px;
    height: 8px;
    fill: currentColor;
    object-fit: fill;
}
.close-svg use {
    width: 100%;
    height: 100%;
    
}


.modal-form {
    display: flex;
    flex-direction: column;
    margin-top: 14px;
    position: relative;
    
}
.input-div {
    
    display: flex;
    flex-direction: column;
    position: relative;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-div:not(:first-child) {
    margin-top: 8px;
}

.input-div > div {
    color: #2E2F42;
}

.modal-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    /* color: tomato; */
    /* background-color: #31D0AA; */
    margin-top: 4px;
    padding: 8px 8px 8px 39px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     /* #2E2F42; */
}

.modal-input:focus, .modal-input:hover, .modal-input:focus-visible {
    border: 1px solid var(--brand-color);
    outline: none;
    
}

.modal-input:focus + div {
    color:var(--brand-color);
}

.input-div:focus .modal-input, .input-div:hover .modal-input,  .input-div:active .modal-input, .input-div:focus-visible .modal-input {
    border: 1px solid var(--brand-color); 
    outline: none;
}

.input-div:hover .input-svg,  .input-div:focus .input-svg,  .input-div:active .input-svg, .modal-input:focus-visible  .input-svg {
    color: var(--brand-color);
    outline: none;
}

.input-svg{
    position: absolute;
    top: 30px;
    left: 18px;
    
    fill: currentColor;
    
    width: 15px;
    height: 13px;
}
.input-svg use {
    width: 100%;
    height: 100%;
}
.modal-text {
    font-size: 16px;
    line-height: 1.5;
    color: var(--zagolovok);
    text-align: center;
    
}
.modal-label {
    
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: #8E8F99;
    
}
textarea.modal-input {
    resize: none;
    width: 100%;
    height: 120px;
    padding-left: 19px;

    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
}
textarea::placeholder {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;

    color: rgba(117, 117, 117, 0.5);
}

.checkbox {
    display: flex;
    margin-top: 16px;
    text-align: center;
    gap: 8px;
}

.check-input:checked + .check-icon {
    background-color: var(--hover-color);
    border-color:  var(--hover-color);
}
.check-icon {
    
    width: 16px;
    height: 16px;
    border: 1px solid #2E2F42;
    border-radius: 2px;
    
    background-origin: content-box;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.check-icon > svg { 
    width: 10px;
    height: 12px;
}

.modal-checkbox {
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.04em;
    color: #757575;
}

.modal-checkbox > a {
    color: #404BBF;
}

.sec-hero-button.modal-button {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
    min-width: 170px;
}