/* колір WEB, Focused, Active states Links; background кнопки #4D5AE5  */
:root {
    --brand-color: #4D5AE5;
    --background: #2E2F42;
    --zagolovok: #2E2F42;
    --hover-color: #404BBF;
    /* колір тексту    */
    --text: #434455;
    --studio: #F4F4FD;
    /*  текст підвал                  #E7E9FC  */
    --accent: #E7E9FC;

    --margin-left: 24px;
    --margim-top-botton-h3p: 32px;
    --margin-top-p: 8px;
}


body {
    background-color: #FFFFFF;
    color: var(--text);
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    letter-spacing: 0.02em;
}

.list {
    list-style: none;
}

h1,
h2,
h3,
h4,
p,
ul,
li {
    margin: 0px;
    padding: 0;
}

/* кнопки, зсилки */
.logo-footer,
.logo {
    text-decoration-line: none
}

.link {
    text-decoration-line: none;
    font-family: inherit;
    display: block;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover,
.link:focus {
    color: var(--brand-color);
    background-color: #FFFFFF
}
.container {
    padding-left: 16px;
    padding-right: 16px;
}


/*                          Heder_________________*/
.nav-heder {display: flex;

    padding-top:  24px;
    padding-bottom: 24px;
}
@media screen and (max-width: 479px) {
    .nav-heder{
        justify-content: space-between;
        align-items: center; }
}

.nav-div {
    display: none;
}
.auth-div {
    display: none;
}
.logo-web {
    color: var(--brand-color);
}

.logo {
    color: var(--zagolovok);
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
}

.header-menu {
    margin: 0px;
    padding: 0px;
    border-radius: 50%;
    border-style: none;
    background-color: transparent;
}
/* _______________________________________hero-section_______________________ */

.cont-hero {
    padding-top: 112px;
    padding-bottom: 112px;
    text-align: center;
}
.hero-title {
    font-weight: 700;
    
    line-height: 1.1;
        
    margin-left: auto;
    margin-right: auto;
}
@media screen  and (max-width: 479px)
{   .hero-title {
        max-width: 318px;
        font-size: 36px;}
}
.section-hero {
    margin-left: auto;
    margin-right: auto;
    display: block;

    max-width: 1440px;
    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office-1.jpg);
    background-repeat: no-repeat;

    background-position: center;
    background-size: cover;
}
